/* Body */
body{
    margin: 0px;
    padding: 0px;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}

/* Header */
header{
    background-color: rosybrown;
    display: flex;
    flex-direction: row;
    top: 0px;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    padding: 2px 10px;
}

/* Footer */
footer{
    background-color: rosybrown;
    display: flex;
    flex-direction: row;
    bottom: 0px;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    padding: 5px 10px;
    margin-top: 20px;
}

/* Logo */
#logo{
    width: 60px;
    height: 60px;
    justify-content: center;
    align-self: center;
    margin-left: 1%;
}

/* #main{
    margin-top: 50px;
    margin-bottom: 50px;
} */

/* Links */
a{
    color: black;
    text-decoration: none;
}

a:active{
    color: black;
    text-decoration: none;
}

/* Login Link */
#login-header{
    float: right;
    margin-right: 2%;
}

/* Contact Footer */
.contact-footer{
    margin-left: 2%;
}

/* Social Footer */
.social-footer{
    margin-right: 2%;
}
.img-socialmedia{
    width: 22px;
    height: 20px;   
}