
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

header{
    display: block;
    background-color: rosybrown;
}

footer{
    display: block;
    background-color: rosybrown;
}

#logo{
    width: 60px;
    height: 60px;
}

#hotelimg{
    margin: 2% 4% 0% 4%;
    height: 500px;
    width: 500px;
}

.img-socialmedia{
    width: 22px;
    height: 20px;   
}

.form-hotel{
    margin: 0% 4% 1% 4%;
}

.hotel-details{
    margin: 1% 4% 2% 4%;
}