/* Hotel Image */
#hotelimg{
    max-height: 350px;
    width: 100%;
    object-fit: cover;
}


.form-hotel{
    margin: 0% 4% 1% 4%;
}

/* Hotel details */
.hotel-details{
    margin: 1% 4% 2% 4%;
}

.forms-card{
    display: flex;
    flex-direction: row;
    /* max-height: 400px; */
    margin: 4%;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
}

.form-img{
    width: 60%;
    height: 100%;
    padding: 2% 20%;
}

.form-input-details{
    border-left: 2px solid black;
    width: 40%;
    height: 100%;
    padding: 20px;
}



input{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label{
    padding: 12px 0px 12px 0;
    width: 40%;
}