#hotelimg{
    margin: 2% 4% 0% 4%;
    height: 500px;
    width: 500px;
}

.img-socialmedia{
    width: 22px;
    height: 20px;   
}

.form-hotel{
    margin: 0% 4% 1% 4%;
}

.hotel-details{
    margin: 1% 4% 2% 4%;
}