body{
    margin: 0px;
    padding: 0px;
    background-color: #e0e0e0;
}

header{
    display: block;
    background-color: rosybrown;
}

footer{
    display: block;
    background-color: rosybrown;
}

#main{
    width: 100%;
    height: 100%;
}

#content{
    height: 380px;
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#logo{
    width: 60px;
    height: 60px;
}

.city-img{
    width: 150px;
    height: 150px;
    border-radius: 25%;
    margin: auto;
    padding: 4% ;
}

#city-box{
    justify-content: space-between;
    margin: auto 15%;
}

.img-socialmedia{
    width: 22px;
    height: 20px;   
}