/* Inline */
ul#view li{
    display: inline;
    padding: 10px;
    font-weight: bold;
}

/* Hotel Img */
.hotel-img{
    height: 200px;
    width: 250px;
}

/* Social Media Images */
.img-socialmedia{
    width: 22px;
    height: 20px;   
}

/* List View */
.list-view{
    display: flex;
    flex-wrap: wrap;
}

/* Cards */
.list-view-cards{
    margin: 4%;
    width: 40%;
    background-color: rgb(132,136,139);
}

/* Map View */
#map-view{
    display: none;
}