/* Main */
#main{
    margin: 20px auto; 
}

/* Inline */
ul#view li{
    display: inline;
    padding: 10px;
    font-weight: bold;
}

/* Hotel Img */
.hotel-img{
    height: 200px;
    width: 250px;
    object-fit: cover;
}

/* Cards */
.list-view-cards{
    margin: 0% 4% 1% 4%;
    width: 40%;
    background-color: lightgray;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list-view-cards:hover{
    background-color: rosybrown;
}

.list-view-cards-img {
    width: 40%;
    height: 100%;
}

/* Hotel Description */
.hotel-details{
    width: 60%;
    height: 100%;
    padding: 2%;
}

/* Social Media Images */
.img-socialmedia{
    width: 22px;
    height: 20px;   
}

/* List View */
.list-view{
    display: flex;
    flex-wrap: wrap;
}