
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

header{
    display: block;
    background-color: rosybrown;
}

footer{
    display: block;
    background-color: rosybrown;
}

#logo{
    width: 60px;
    height: 60px;
}

.hotel-img{
    height: 200px;
    width: 250px;
}

.img-socialmedia{
    width: 22px;
    height: 20px;   
}

.hotel-card{
    margin: 2%;
    background-color: rgb(132,136,139);
    width: 40%;
}