.container{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.loader{
    position: relative;
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    border: 12px #f3f3f3 solid;
}

.ring {
    position: absolute;
    width: 50%;
    height: 50%;
}

.ring .darker{
    background-color: green;
    border-radius: 0 0 100% 0;
}

.cutout {
    width: 50%;
    height: 50%;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 25%;
    border-radius: 50%;
    pointer-events: none;
}