#hotel-img{
    background-color: rgb(132,136,139);
    width: 50%;
    height: 20%;
    margin: 2% auto;
}

#customer-div{
    margin: 2%;
}

#tariff{
    margin: 2%;
    border: solid 2px black;
    border-radius: 5px;
    padding: 1% 2%;
}

#logo{
    width: 60px;
    height: 60px;
}

#hotelimg{
    height: 500px;
    width: 500px;
}

.img-socialmedia{
    width: 22px;
    height: 20px;   
}