.hotel-img{
    background-color: rgb(132,136,139);
    margin: 2% auto;
}

#customer-div{
    margin: 0%;
}

#tariff{
    margin: 2%;
    border: solid 2px black;
    border-radius: 5px;
    padding: 1% 2%;
    background-color: rosybrown;
}

#logo{
    width: 60px;
    height: 60px;
}

#hotelimg{
    height: 50%;
    width: 50%;
    object-fit: cover;
}

.hotel-desc-card{
    margin: 2% auto;
    width: 60%;
    height: auto;
    background-color: rgb(132,136,139);
    border-radius: 5px;
}

.hotel-details{
    padding: 1% 2%;
}